.footer{
    background-color: #272727;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: auto;
    border-top: 1px solid #595959;
    position : fixed;
    bottom : 0;
    text-align: center;
    left: 0;
    width: 100%;
}
.footer-logo{
    position : absolute;
    top:5%;
    left:16%;
}

.call-center{
    color: #FFFFFF;
    position : absolute;
    top:27%;
    left:15%;
}



.bank-info{
    color: #FFFFFF;
    position : absolute;
    top:59%;
    left:15%;
}

.color-red{
    color: red;
}

.company-info{
    color: #FFFFFF;
    position : absolute;
    top:27%;
    left:32%;
}

.footer-category-01{
    color: #FFFFFF;
    position : absolute;
    top:27%;
    left:62%;
}

.footer-category-02{
    color: #FFFFFF;
    position : absolute;
    top:37%;
    left:67%;
}

.company{
    color: #FFFFFF;
    position : absolute;
    top:27%;
    left:77%;
}

p{
    margin: 5px;
    text-align: left;
}