li {
    text-decoration: none; /* 밑줄 없애기 */
    list-style-type: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none; /* 밑줄 없애기 */
    display: flex;
    align-items: center;
}

ul{
    padding-inline-start: 0px;
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* webkit input 자동완성시 파란색배경 없애기 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NanumGothicCoding:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nanumgothiccoding: NanumGothicCoding;
  --font-inherit: inherit;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;

  /* Colors */
  --color-silver-100: #bbb;
  --color-silver-200: rgba(187, 187, 187, 0.73);
  --color-white: #fff;
  --color-black: #000;

  /* Border radiuses */
  --br-8xs: 5px;
}
