li {
    text-decoration: none; /* 밑줄 없애기 */
    list-style-type: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none; /* 밑줄 없애기 */
    display: flex;
    align-items: center;
}

ul{
    padding-inline-start: 0px;
}