.open-market{
    width: 100%;
}

.open-market-header{
    background-color: #000000;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    aspect-ratio: auto;
}

.open-market-header-title{
    flex: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.open-market-header-title p{
    margin-left: 70px;
}

.open-market-header-logo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-market-header-logo img{
    width: 40px;
    height: 40px;
}

.open-market-header-member{
    flex : 1;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-market-header-member p {
    margin-right: 30px;
}

.open-market-header-member span{
    font-weight: bold;
}

.goods-control{
    margin: 20px 200px 30px;
}

.goods-control-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.goods-control-form{
    background-color: white;
}

.goods-control-form-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-name-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-name-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-name-input input{
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.goods-control-form-name-input input:focus{
    border-color: #2ecc71; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 시 약간의 그림자 효과 */
}

.goods-control-form-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-img-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-img-img{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-img-img img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.goods-control-form-img-img button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #AAAAAA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #2980b9;
        border-color: #2980b9;
    }
}

.goods-control-form-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-price-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-price-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-price-input input{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.goods-control-form-price-input input:focus{
    border-color: #2ecc71; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 시 약간의 그림자 효과 */
}

.goods-control-form-count{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-count-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-count-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-count-input input{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.goods-control-form-count-input input:focus{
    border-color: #2ecc71; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 시 약간의 그림자 효과 */
}

.goods-control-form-category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-category-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-category-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-category-input select{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

.goods-control-form-category-input select:focus {
    border-color: #2ecc71; /* 포커스 및 호버 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 및 호버 시 약간의 그림자 효과 */
}

.goods-control-form-option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-option-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-option-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-option-input select{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

.goods-control-form-option-input select:focus {
    border-color: #2ecc71; /* 포커스 및 호버 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 및 호버 시 약간의 그림자 효과 */
}

.goods-control-form-option-input input{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

.goods-control-form-option-input input:focus {
    border-color: #2ecc71; /* 포커스 및 호버 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 및 호버 시 약간의 그림자 효과 */
}

.goods-control-form-country{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-country-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-country-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-form-country-input select{
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

.goods-control-form-country-input select:focus {
    border-color: #2ecc71; /* 포커스 및 호버 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* 포커스 및 호버 시 약간의 그림자 효과 */
}

.goods-control-form-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #AAAAAA;
}

.goods-control-form-detail-title{
    flex: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.goods-control-form-detail-input{
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goods-control-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.goods-control-submit button{
    font-size: 20px;
    width: 100px;
    height: 40px;
}