.product-tab{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-tab-detailInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 20px;
    width: 2000px;
}

.product-tab-detailInfo button{
    border: 1px solid #AAAAAA;
    color: white;
    background-color: #272727;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.product-tab-detail{
    width: 1000px;
    white-space: pre-wrap;
    color: white;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

.product-tab-detail p{
    text-align: center;
}

.product-tab-payInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 20px;
    width: 2000px;
}

.product-tab-payInfo button{
    border: 1px solid #AAAAAA;
    color: white;
    background-color: #272727;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.product-tab-pay{
    width: 1000px;
    white-space: pre-wrap;
    color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-tab-pay p{
    text-align: center;
}

.product-tab-review{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 20px;
    width: 2000px;
}

.product-tab-review button{
    border: 1px solid #AAAAAA;
    color: white;
    background-color: #272727;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.product-tab-review-content{
    width: 1000px;
    margin-top: 30px;
}

.product-tab-review-content p{
    color: #AAAAAA;
}

.product-tab-review-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-tab-review-contents{
    display: block;
    padding-left: 5px;
    padding-right: 23px;
    margin-bottom: 5px;
    border-bottom: 1px solid #858a8d;
}

.product-tab-review-content-writer{
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: bold;
}

.product-tab-review-content-writer p{
    color : #FFFFFF;
}

.flex-contents{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.product-tab-review-content-score{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-tab-review-content-score img{
    width : 150px;
    height: 30px;
}

.product-tab-review-content-date{

}

.product-tab-review-content-id{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-tab-review-content-img{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.product-tab-review-content-img img{
    width: 120px;
    height: 120px;
}

.product-tab-review-content-title{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.product-tab-review-content-title p {
    color: #FFFFFF;
}

.product-tab-review-content-content{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.product-tab-review-content-content p {
    color: #FFFFFF;
}

.active{
    color: white;
}

.review-page-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.review-page-prev{
    font-size: 17px;
    border: none;
    background-color: #272727;
    color: white;
}

.review-page-next{
    font-size: 17px;
    border: none;
    background-color: #272727;
    color: white;
}

.review-page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 420px;
}

.review-write{
    margin-left: 360px;
}

.review-write button{
    border: 1px solid white;
    padding: 5px;
}

.not-review{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-tab-qna{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 20px;
    width: 2000px;
}

.product-tab-qna button{
    border: 1px solid #AAAAAA;
    color: white;
    background-color: #272727;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.product-tab-qna-content{
    width: 1000px;
    margin-top: 30px;
}

.product-tab-qna-content p{
    color: #AAAAAA;
}

.product-tab-qna-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-tab-qna-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    padding-left: 15px;
    padding-right: 15px;
}

.product-tab-qna-header-no{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab-qna-header-subject{
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab-qna-header-name{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab-qna-header-date{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab-qna-header-status{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab-qna-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #858a8d;
}

.product-tab-qna-content-no{
    margin-right: auto;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-tab-qna-content-subject{
    margin-right: auto;
    flex: 7;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-tab-qna-content-name{
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-tab-qna-content-date{
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.product-tab-qna-content-status{
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.product-tab-qna-content-status p {
    color: #FFFFFF;
}

.product-tab-qna-contents-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    margin-top: 20px;
}

.product-tab-qna-contents-detail-blank{
    flex : 1;
}

.product-tab-qna-contents-detail-content{
    flex: 12;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.product-tab-qna-contents-detail-content p{
    color: white;
}

.product-tab-qna-contents-detail2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    margin-top: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.product-tab-qna-contents-detail-reply{
    flex: 11;
    display: block;
    white-space: pre-wrap;
    padding-bottom: 20px;
}

.product-tab-qna-contents-detail-reply p{
    color: white;
}

.reply-title{
    margin-bottom : 15px;
    font-weight : bold;
    font-size : 17px;
}

.product-tab-qna-contents-detail-date{
    flex: 1.5;
    margin-top: -60px;
}
.product-tab-qna-contents-detail-date p{
    text-align: center;
}

.qna-page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 420px;
}

.qna-page-prev{
    font-size: 17px;
    border: none;
    background-color: #272727;
    color: white;
}

.qna-page-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.qna-page-next{
    font-size: 17px;
    border: none;
    background-color: #272727;
    color: white;
}

.qna-write{
   margin-left: 360px;
}

.qna-write button{
    border: 1px solid white;
    padding: 5px;
}

.not-qna{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    margin-top: 20px;
}