.goods-list-categories{
    width : 100vw;
    min-width: 1690px;
    display : grid;
    place-items: center;
}

.goods-list-category-title{
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1300px;
}

.goods-list-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 1300px;
}

.categories{
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    padding-top : 20px;
    padding-bottom: 20px;
    width : 250px;
    text-align: center;

}