.member-ssg-com-by {
  color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
  font-family: "Arial-Narrow", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
}

.div-pop-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 19.6px;
    position: relative;
    width: 540px;
  }
  
  .div-pop-content .div-delivery-reg {
    align-self: stretch;
    height: 300px;
    position: relative;
    width: 100%;
  }
  
  .div-pop-content .div-aside {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 10px 0px 0px 488.04px;
    position: absolute;
    top: 0;
    width: 540px;
  }
  
  .div-pop-content .link {
    align-items: flex-start;
    background-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375blue-stone);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375blue-stone);
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 0.8px 10.6px 0.8px 10.36px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .form-fieldset {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(229, 229, 229), rgb(102, 102, 102) 0%) 1;
    border-top-style: solid;
    border-top-width: 0.8px;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 0.8px 0px;
    position: absolute;
    top: 35px;
    width: 540px;
  }
  
  .div-pop-content .table {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .div-pop-content .body {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-right: -0.01px;
    position: relative;
  }
  
  .div-pop-content .row {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .div-pop-content .cell {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 17.7px 38.98px 17.1px 19px;
    position: relative;
  }
  
  .div-pop-content .div {
    color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
    font-family: "Arial-Bold", Helvetica;
    font-size: 11.6px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 18px;
    margin-top: -0.8px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .data {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 12.8px 195.03px 12px 15px;
    position: relative;
  }
  
  .div-pop-content .input {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 23px;
    position: relative;
    width: 232px;
  }
  
  .div-pop-content .label-wrapper {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 17.7px 46.98px 17.1px 19px;
    position: relative;
  }
  
  .div-pop-content .label {
    color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
    font-family: "Arial-Bold", Helvetica;
    font-size: 11.4px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 18px;
    margin-top: -0.8px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .data-2 {
    align-items: center;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 12.5px 145.03px 12px 15px;
    position: relative;
  }
  
  .div-pop-content .element {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .div-wrapper {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 17.9px 47.98px 17.3px 19px;
    position: relative;
  }
  
  .div-pop-content .data-3 {
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    height: 52.5px;
    position: relative;
    width: 442.03px;
  }
  
  .div-pop-content .options {
    align-items: center;
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    display: inline-flex;
    left: 15px;
    padding: 5.8px 23.4px 5.8px 9.8px;
    position: absolute;
    top: 14px;
  }
  
  .div-pop-content .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0.8px 40.8px 0px 0px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper-2 {
    color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
    font-family: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-font-family
    );
    font-size: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-font-size
    );
    font-style: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-font-style
    );
    font-weight: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-font-weight
    );
    letter-spacing: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-letter-spacing
    );
    line-height: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-12-line-height
    );
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .text-wrapper-3 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 115px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }

.div-pop-content .input-1 {
  background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
  border: 1px solid;
  border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
  height: 28px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 96px;
}
  
  .div-pop-content .input-2 {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 28px;
    left: 123px;
    position: absolute;
    top: 13px;
    width: 96px;
  }
  
  .div-pop-content .text-wrapper-4 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 221px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }
  
  .div-pop-content .input-3 {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 28px;
    left: 229px;
    position: absolute;
    top: 13px;
    width: 96px;
  }
  
  .div-pop-content .cell-2 {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 11.8px 38.98px 10px 19px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper-5 {
    color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
    font-family: "Arial-Bold", Helvetica;
    font-size: 11.6px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 18px;
    margin-top: -0.8px;
    position: relative;
    width: fit-content;
  }
  
  .div-pop-content .data-4 {
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    height: 57px;
    position: relative;
    width: 442.03px;
  }
  
  .div-pop-content .div-hd-fc-wrapper {
    align-items: center;
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    display: inline-flex;
    left: 15px;
    padding: 5.8px 23.4px 5.8px 9.8px;
    position: absolute;
    top: 15px;
  }
  
  .div-pop-content .text-wrapper-6 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 115px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .div-pop-content .input-4 {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 28px;
    left: 123px;
    position: absolute;
    top: 15px;
    width: 96px;
  }
  
  .div-pop-content .text-wrapper-7 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 221px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .div-pop-content .input-5 {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 28px;
    left: 229px;
    position: absolute;
    top: 15px;
    width: 96px;
  }
  
  .div-pop-content .row-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .div-pop-content .cell-3 {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 12.2px 38.98px 23.2px 19px;
    position: relative;
  }
  
  .div-pop-content .data-5 {
    align-items: flex-start;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5mercury);
    border-top-style: solid;
    border-top-width: 0.8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 2.7px;
    padding: 12.8px 248.33px 12px 15px;
    position: relative;
  }
  
  .div-pop-content .input-6 {
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375silver-chalice);
    height: 28px;
    position: relative;
    width: 101px;
  }
  
  .div-pop-content .span-wrapper {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 0px 7px;
    position: relative;
  }
  
  .div-pop-content .span {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 9.4px 7px 8.6px 0px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper-8 {
    color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
    font-family: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-font-family
    );
    font-size: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-font-size
    );
    font-style: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-font-style
    );
    font-weight: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-font-weight
    );
    letter-spacing: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-letter-spacing
    );
    line-height: var(
      --member-ssg-com-comm-popup-shpplocform-ssg-626-4000244140625x605-5999755859375-arial-narrow-11-line-height
    );
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    left: 0;
    padding: 0px 0px 0px 11px;
    position: absolute;
    top: 317px;
    width: 540px;
  }
  
  .div-pop-content .item {
    align-items: flex-start;
    align-self: stretch;    
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 298px 0px 8px;
    position: relative;
    width: 100%;
  }
  
  .div-pop-content .p {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5boulder);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 10.8px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .item-2 {
    align-items: flex-start;
    align-self: stretch;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 167px 0px 8px;
    position: relative;
    width: 100%;
  }
  
  .div-pop-content .div-pop-btn-area {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 12.7px;
    position: relative;
    width: 100%;
    padding: 10px;
  }
  
  .div-pop-content .link-2 {
    align-items: flex-start;
    background-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375mine-shaft);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375mine-shaft);
    border-radius: 3px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 138px;
    padding: 0.8px 64.7px 0.8px 64.9px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper-9 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5nero);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-pop-content .link-3 {
    align-items: flex-start;
    background-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5alabaster);
    border: 1px solid;
    border-color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5silver);
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 1px #fefefe;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 130px;
    padding: 0.8px 64.7px 0.8px 64.9px;
    position: relative;
  }
  
  .div-pop-content .text-wrapper-10 {
    color: var(--memberssgcomcommpopupshpplocformssg-626400024414062-5x-605599975585937-5black);
    font-family: "Arial-Narrow", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div-address-txt { 
    position: absolute;
    width: 100%;
    height: 60px;
    top: 252px;
    padding-left: 100px;
    padding-top: 10px;
  }
  .input-detail-span {
    position: absolute;
    left: 18px;
    top: 18px;

  }
  .address-detail-div{
      margin-left: 14px;
  }

.input-detail-span .span-1{
  color: var(--memberssgcomcommpopupshpplocformssg6264000244140625x6055999755859375dove-gray);
  font-family: "Arial-Bold", Helvetica;
  font-size: 11.6px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 18px;
  margin-top: -0.8px;
  position: relative;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}