.new-arrivals{
    margin-top: 100px;
    margin-bottom: 150px;
    width: 1690px;
}

.new-arrival-title{
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-arrival{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #AAAAAA;
    width: 500px;
    height: 300px;
    margin: 30px;
}

.new-arrival img{
    width: 500px;
    height: 300px;
}

.new-arrival-01{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-arrival-02{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-arrival-03{
    display: flex;
    align-items: center;
    justify-content: center;
}

