.qna{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    width: 100%;
}

.qna-title{
    color: #000000;
    font-size: 25px;
}

.qna-product-contents{
    width: 1000px;
    padding: 40px;
    border: 1px solid #AAAAAA;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.qna-product-img img{
    width: 80px;
    height: 80px;
}

.qna-product-title{
    margin-left: 10px;
}

.qna-product-name{
    color: #FFFFFF;
}

.qna-product-price{
    color: #FFFFFF;
}

.qna-write-area{
    width: 1082px;
    margin-top: 20px;
    border-top: 1px solid #AAAAAA;
}

.qna-write-area-id{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #AAAAAA;

}

.qna-write-area-id-title{
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #AAAAAA;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3d3d3d;
}

.qna-write-area-id-id{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 882px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px
}

.qna-write-area-id-id input{
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.qna-write-area-subject{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #AAAAAA;

}

.qna-write-area-subject-title{
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #AAAAAA;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3d3d3d;
}

.qna-write-area-subject-subject{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 882px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px
}

.qna-write-area-subject-subject input{
    width: 600px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.qna-write-area-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #AAAAAA;

}

.qna-write-area-contents-title{
    color: white;
    width: 200px;
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #AAAAAA;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3d3d3d;
}

.qna-write-area-contents-contents{
    display: flex;
    align-items: center;
    width: 882px;

    padding-left: 20px
}

.quill .ql-toolbar{
    background-color: #AAAAAA;
}

.qna-write-area-file{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 30px;

}

.qna-write-area-file-title{
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #AAAAAA;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3d3d3d;
}

.qna-write-area-file-file{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 882px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px
}

.qna-write-area-file-file-input{
    width: 600px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none; /* 기본 포커스 효과 제거 */
    transition: border-color 0.3s; /* 부드러운 효과를 위한 트랜지션 설정 */
}

.qna-write-area-file-file button{
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;

    &:hover {
        background-color: #2980b9;
        border-color: #2980b9;
    }
}

.qna-submit-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.qna-submit-area button{
    border: 1px solid #AAAAAA;
    outline: none;
    margin-left: 20px;
    background-color: #272727;
    color: #FFFFFF;
    height: 50px;
    width: 100px;
    cursor: pointer;
}