.coupon-content {
    border: 1px gray solid;
    width: 400px;
    height: 125px;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
}

.coupon-discount {
    color: rgb(73, 71, 71);
}
.coupon-discount span{
    font-size: 20px;
    font-weight: bold;
}

.coupon-date {
    margin-top: 15px;
}
.coupon-date span {
    color: gray;
}