.bl-hr {
    margin: 0 auto;
}

.m-c-g-tab-small {
    width: 180px;
}

.m-c-g-small {
    display: flex;
    width: 750px;
    justify-content: space-between;
}

.m-c-g-t-content-small {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--color-silver-100);
    background-color: var(--color-white);
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-small-span {
    font-size: 28px;
}

.m-c-g-t-buy-content {
    padding: 10px;
    border: 1px solid var(--color-silver-100);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}