.c-r-f-i-tab {
  background-color: var(--color-white);
  border-right: 1px solid var(--color-silver-200);
  border-bottom: 1px solid var(--color-silver-200);
  border-left: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 450px;
  height: 45px;
}

.c-r-f-i-tab-top-round {
  border-radius: var(--br-8xs) var(--br-8xs) 0px 0px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 450px;
  height: 45px;
}

.c-r-f-i-tab-bottom-round {
  border-radius: 0px 0px var(--br-8xs) var(--br-8xs);
  background-color: var(--color-white);
  border-right: 1px solid var(--color-silver-200);
  border-bottom: 1px solid var(--color-silver-200);
  border-left: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 450px;
  height: 45px;
}

.c-r-f-button {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 450px;
  height: 60px;
}

.c-header, .c-r-f-id-information, .c-r-f-user-information, .c-r-f-phone-information {
  margin-bottom: 30px;
}
.t-button-group {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-buttom-m, .t-buttom-f {
  background-color: var(--color-white);
  border: 1px solid #272727;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.t-buttom-m.active, .t-buttom-f.active {
  background-color: #e0e0e0; /* 회색 배경 */
}

.c-r-f-i-tab-dropdown {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  background-color: var(--color-white);
  border: none;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 8px;
  height: 75%;
  width: 75%;
}

.t-selectbox{
  margin-left: 35px;
}

.c-r-f-validationCheck {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.c-r-f-error {
  color: white;
  font-weight: bold;
}

.c-r-f-authenticationCode {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
}


.content-area input {
  margin-left: 40px;
  margin-top: 4px;
  height: 75%;
  width: 75%;
  border: none;
}


